/*https://www.youtube.com/watch?v=h3l4qz76JhQ */

/*CARGANDO*/
#cargando {
	background-image: url("../img/bright-squares.png");
	background-repeat: repeat;
}

#carga-spinner {
	text-align: center;
	color: red;
}

/*BIENVENIDA*/
#bienvenida .jumbotron, #menu-principal .jumbotron, #registro .jumbotron {
	width: 100%;
	background-color: tomato;
	color: white;
}

#boton-registro {
	background-color: teal;
	color: yellow;
}

#boton-registro:hover {
	background-color: peru;
	color: white;
}

#boton-login {
	background-color: lawngreen;
	color: navy;
}

#boton-login:hover {
	background-color: salmon;
	color: white;
}

/*LOGIN*/
#login {
	background-image: url("../img/textura-ruido-negro.png");
	background-repeat: repeat;
}

#login h1 {
	color: yellow;
}

#form-login input {
	border: none;
	border-radius: 0;
}

#inputEmail {
	background-color: magenta;
	color: white;
}

#inputEmail::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

#inputEmail::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#inputEmail::-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#inputEmail::-moz-placeholder { /* Firefox 18- */
  color: white;
}

#inputPassword {
	background-color: sienna;
	color: white;
}

#inputPassword::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

#inputPassword::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#inputPassword::-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#inputPassword::-moz-placeholder { /* Firefox 18- */
  color: white;
}

#login-checkbox label {
	color: tomato !important;
}

#aceptar-login {
	background-color: lime;
	color: black;
	font-weight: bolder;
	border-radius: 0;
	border: none;
}

#aceptar-login:hover {
	background-color: aqua;
}

#login-no-tienes-cuenta {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#login-no-tienes-cuenta:hover {
	color: yellow;
}

/*REGISTRO*/
#registro .jumbotron {
	background-color: #fabada;
	color: rebeccapurple;
}

#area-registro-correcto {
	padding: 2em;
	background-color: #36626A;
	color: white;
}

#area-registro-correcto button {
	background-color: #73B1C1;
	border-radius: 0;
	border: none;
	color: white;
	font-weight: bolder;
}

#area-registro-correcto button:hover {
	background-color: #F1D18A;
	cursor: pointer;
	color: black;
}

#area-registro {
	padding: 2em;
	background-color: tan;
	color: #403321;
}

#enviar-registro {
	background-color: lawngreen !important;
	cursor: pointer;
	font-weight: bolder;
}

#enviar-registro:hover {
	background-color: red !important;
	color: white;
}

#area-registro input {
	background-color: #48BA95;
	border: none;
	border-radius: 0;
}

#area-registro input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

#area-registro input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#area-registro input::-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#area-registro input::-moz-placeholder { /* Firefox 18- */
  color: white;
}

/*MENU*/
#menu-principal {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.serie {
	margin-bottom: 2em;
}

.contenido-interior {
	background-color: yellow;
	color: white !important;
	padding-top: 1em;
	padding: 1em;
	text-align: center;
	height: 26em;
	max-width: 300px;
	border-top: 3px solid black;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #02b2ed 50%, black 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
	display: block;
	text-decoration: none !important;
}

.contenido-interior h4 {
	background-color: tomato;
	padding-bottom: 0.2em;
}

#menu-jugar {
	background-image: linear-gradient(to bottom, blueviolet 50%, salmon 50%);
}

#menu-cartas {
	background-image: linear-gradient(to bottom, cyan 50%, salmon 50%);
}

#menu-personajes {
	background-image: linear-gradient(to bottom, lawngreen 50%, salmon 50%);
}

#menu-tienda {
	background-image: linear-gradient(to bottom, yellow 50%, salmon 50%);
}

.contenido-interior:hover {
    background-position: 0 -100%;
	cursor: pointer;
}

/*TABLERO*/
#tablero{
	background-image: url("../img/spiration_dark.png");
	background-repeat: repeat;
}

.zona-jugadores, #mano-jugador {
	color: white;
	background-color: #191919;
}

#boton-mano-arriba, #boton-mano-abajo {
	background-color: black;
}

.carta {
	border: 1px solid white;
	height: 100% !important;
	color: white;
	max-width: 160px;
}

.carta img {
	padding: 0.5em;
}

.comun {
	background-color: #5e5e5e;
}

.rara {
	background-color: #005fcc;
}

.especial {
	background-color: #17cc00;
}

.epica {
	background-color: #6c00cc;
}

.legendaria {
	background-color: #cc9200;
}